<div class="new-post-container">
  <%= form_for @post, :html => { :class => "new-post" } do |f| %>
    <%= f.label :body, 'Create a new post', class: "form-label" %>
    <%= f.text_area :body, class: 'text-area' %>
    <%= f.submit 'Create Post', class: "submit-button" %>
  <% end %>
  <%= link_to '<<< Go Back', posts_path, class: "go-back" %>
</div>
